.plus{
    grid-column: 3;
    grid-row: 1;
    border: 2px solid black;
    outline: 2px solid #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 40px;
}
.minus{
    grid-column: 2;
    grid-row: 1;
    border: 2px solid black;
    outline: 2px solid #fff;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 40px;
}
.plus:active , .minus:active{
    background-color: black;
    color: white;
    box-shadow: inset 0px 0px 5px darkgray;
    border: 2px solid #fff;
    outline: 2px solid black;
}
.plus:hover ,.minus:hover{
      cursor: pointer;

}
.reset{
    color: magenta;
    font-size: 25px;
    padding:10px  ;
    border-radius: 10px;

}
.reset:hover{
    color:black;
    cursor: pointer;
}
.reset:active{
    background-color: rgba(139, 0, 139, 0.7);
}